p,
a {
    font-family: $opensans;
}
p {
    line-height: 130%;
}
h1,
h2,
h3,
h4 {
    font-family: $oswald;
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.7rem;
}
h4 {
    font-size: 1.3rem;
}

header {
    height: 100px;
    display: flex;

    .logo img {
        height: 100px;
    }
    
    .nav-desktop,
    .logo {
        flex: 1;
    }

    .nav-desktop {
        display: flex;
        justify-content: flex-end;
        margin-right: 4rem;

        ul {
            display: flex;

            li {

                a {
                    line-height: 100px;
                    text-align: center;
                    padding-left: 2rem;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    font-weight: 300;
                    color: #FFFFFF;
                    text-decoration: none;
        
                    &:hover {
                        color: $yellow;
                        cursor: pointer;
                    }
                }
                .active {
                    color: $yellow;
                    font-weight: 600;
                }

            }
        }

    
    }
    
    .hamburger {
        display: none;
    }

}

.nav-mobile-tablet-home,
.nav-mobile-tablet {
    display: none;
}

.header-transparent {
    background: transparent;
    position: relative;
}
.header-color {
    background: $green;
}

.banner {
    background-image: url("../img/banner.jpg");
    height: 450px;
    background-repeat: no-repeat;
    background-position: 100% 15%;
    background-size: 100vw;
    margin-top: -100px;

    .banner-text {
        background-color: #FFFFFF;
        display: inline-block;
        margin: 12rem 0 0 12rem;

        h1 {
            padding: 2.5rem 3rem;
        }
    }

}
.banner-text-mobile {
    display: none;
}
.home-main {
    display: flex;
    margin: 5rem 200px;


    .home-section {
        display: flex;
        flex-direction: column;
        text-align: center;

        &:nth-child(n+2) {
            margin-left: 2rem;
        }

        i {
            color: $blue;
            font-size: 4.5rem;
            margin-bottom: 1rem;
        }
    }
}


.main-gear {
    display: flex;

    .gear-text {
        margin-left: 8rem;
        
        h2 {
            text-align: center;
            margin: 2rem 0;
        }
        .gear-paragraph {
            display: flex;

            p {
                line-height: 150%;
            }
            .short-column {
                display: none;
            }

            .column-2 {
                margin: 0 4rem;
            }
            .column-1 {
                margin-left: 4rem;
            }
            .column-3 {
                display: none;
            }


        }
    }

    .gear-image {
        height: 600px;

            img {
                height: 100%;
                width: auto;
                object-fit: cover;
                object-position: top;

            }

    }

}


.center-map {
    width: 100vw;
    height: 250px;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 100% 40%;

    }
}
.center-headline {
    text-align: center;
    margin: 2rem 0;
}

.row {
    margin: 2rem 200px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000000;

    p {
        margin-bottom: .5rem;
    }
    .col-text {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .margin {
            margin-right: 2rem;
        }

        .bold {
            font-weight: 700;
        }
    }
    .col-hours {
        flex: 1;
        display: flex;
        justify-content: space-between;
        .bold {
            font-weight: 700;
        }
        .hours {
            text-align: right;
            
        }
    }
    .col-kids {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 2.8rem;
        margin-right: 2rem;
         
        .kids-headline {
            p {
                font-size: 1rem;
            }
        }
        .kids-icons {
            i.medium {
                font-size: 2.5rem;
                margin-right: -10px;
            }
            i.small {
                font-size: 2.3rem;
            }
            i.large {
                margin-left: -10px;
            }
        }
   
    }
    .button-box {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .button {
            background-color: #FFFFFF;
            border: 1px solid $green;
            border-radius: 5px;
            color: $green;
            padding: 10px 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            cursor: pointer;

            &:hover {
                background-color: $green;
                color: #FFFFFF;
            }

        }


    }
    .tablet-right {
        display: none;
    }
    &:last-of-type {
        margin-bottom: 3rem;
    }

}

.form {
    display: none;
}
.map-mobile {
    display: none;
}





footer {
    height: 300px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        color: #FFFFFF;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .sm-icons {
        display: flex;

        a {
            text-decoration: none;
            font-size: 2rem;
            color: #FFFFFF;
            padding-top: 1.5rem;
    
                &:nth-child(n+2) {
                    padding-left: .8rem;
                }

                &:hover {
                    cursor: pointer;
                    color: $yellow;
                }

        }

    }
}
