/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}




@import "mixins";

@import "desktop";

@media screen and (max-width: 1275px) {
	.row {
		margin: 2rem 120px;
	}
}
@media screen and (max-width: 1237px) {
	.main-gear .gear-text {
		margin-left: 0;
	}
}



@media screen and (max-width: 1108px) {
	.main-gear {
		.gear-text {
			
			.gear-paragraph {
				.column-1 {
					margin-left: 2rem;
				}
				.column-2 {
					margin: 0 2rem;
				}

			}
		}

	}
	.row {
		margin: 2rem 60px;
	}
}

@media screen and (max-width: 992px) {
	@import "tablet";
}

@media screen and (max-width: 886px) {
    .main-gear {
		.gear-text {
			
			.gear-paragraph {

				.short-column {
					.short-column-2 {
						display: none;

					}
				}

			}
		}
		.gear-image {
			height: 500px;
		}

	}

}

@media screen and (max-width: 668px) {
    @import "mobile";
}
@media screen and (max-width: 380px) {
    .row {
		margin: 1.5rem;
	}
}

